/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */





html {
  height: 100%;
}

body {
height: 100%;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
display: grid;
justify-items: center;
align-items: center;
background-color: #ffffff;
}

#main {
width: 100%;
height: 100%;
place-items: center;
justify-items: center;
align-items: center;
background-color: white;
border-radius: 7px;
box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
}

/* Text Display */
h2 {
text-align: center;
display: grid;
margin-top: 30px;
}


/* Login Division */
#login-div {
display: grid;
justify-items: center;
align-items: center;
margin-top: 40px;
}

#login-form {
text-align: center;
margin-left: 0px;
}

.password-field {
width: 70%;
border: none;
border-bottom: 1px solid #3a3a3a;
margin-bottom: 20px;
border-radius: 3px;
outline: none;
padding: 0px 0px 5px 5px;
}

.password-field::placeholder {
color: #3a3a3a;
}

#login-button {
width: 70%;
height: 40px;
padding: 7px;
border: none;
border-radius: 5px;
color: white;
font-weight: bold;
background-color: #3a3a3a;
cursor: pointer;
outline: none;
}

/* Error Message */
#error-msg-div {
margin-top: 30px;
display: grid;
text-align: center;
justify-items: center;
align-items: center;
}

#error-msg {
width: 50%;
text-align: center;
margin: 0;
padding: 5px;
font-size: 16px;
font-weight: bold;
color: #8a0000;
border: 2px solid #8a0000;
background-color: #e58f8f;
opacity: 1;
}


/* Success Page */
#success-main {
  height: 100vh;
  width: 100vw;
background-image: url('/colourful-bg.jpg');
background-size: cover;
background-position: center;
display: grid;
place-items: center;
justify-items: center;
align-items: center;
}

h1 {
text-align: center;
margin-top: 200px;
font-size: 70px;

}

#back-button {
width: 30%;
height: 80px;
margin-bottom: 190px;
border: none;
border-radius: 5px;
color: white;
font-size: 50px;
background-color: #448905;
cursor: pointer;
}